@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "work sans";
    margin: 0;
    padding: 0
}
html{
   /*  deslice cuando se hace clic en los links del menu */
    scroll-behavior: smooth;
}
/*  menu */
.contenedor-header{
    background: rgb(204, 176, 218);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header{
    /* max-width: 1200px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header .logo a{
    font-family: "Righteous";
    font-size: 40px;
    color: rgb(114, 224, 215);
    text-decoration: none;
}
.contenedor-header ul{
    display: flex;
    list-style: none;
}
.contenedor-header nav ul li a{
    text-align: none;
    color: rgb(9, 9, 12);
    margin: 0 15px;
    padding: 5px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header nav ul li a:hover{
    color: green;
}
/* .nav-responsive{
    background-color: rgb(241, 74, 200);
    color: greenyellow;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; 
    display: none;
} */
/* seccion inicio */
.inicio{
    background: linear-gradient(to top, rgba(30,40,35,7), rgba(30,40,35,8)),
    url(/img/imagen.jpg);
    background-size: cover;
    height: 130vh;
    color: rgb(15, 19, 19);
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 30px;
    background-color: rgb(145, 238, 250);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}
.inicio .contenido-banner img{
    margin-top: 50px;
    border: 10px solid rgb(246, 248, 248);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 40px;
    font-family: "righteous";
}
.informacionpersonal{
    background-color: rgb(233, 209, 209);
    color: gray;
    padding: 50px 20px;
}
.informacionpersonal .contenido-seccion{
    max-width: 1200px;
    margin: auto;
}
.informacionpersonal h2{
    font-size: 50px;
    font-family:"righteous";
    text-align: center;
    padding: 20px 0;
    color: black;
}
.informacionpersonal .contenido-seccion p{
    font: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}
.informacionpersonal .contenido-seccion p span{
    color: green;
    font-weight: bold;
}
.informacionpersonal .fila{
    display: flex;
}
.informacionpersonal .fila .col 
{
    width: 50%;
}
.informacionpersonal .fila .col h3{
    font-size: 30px;
    font-family: "ighteous";
    margin-bottom: 25px;
    color: black;
}
.informacionpersonal .fila .col ul{
    list-style: none;
}
.informacionpersonal .fila .col ul li{
    margin: 12px 0;
}
.informacionpersonal .fila .col ul li strong{
    display: inline-block;
    color: black;
    width: 130px;
}
.informacionpersonal .fila .col ul li span{
    background-color: green;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
/* seccion skills */
.skills{
    background-color: rgb(219, 163, 163);
    color: rgb(24, 20, 20);
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1200px;
    margin: auto;
}
.skills h2{
    font-size: 50px;
    font-family:"righteous";
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .skills > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skills .barra-skills{
    height: 8px;
    width: 80%;
    background-color: brown;
    position: relative;
    margin-bottom: 30px;
}
.skills .skills .progreso{
    background-color: rgb(62, 245, 62);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skills .barra-skills span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: azure;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* seccion biografia */
.biografia{
    background-color: rgb(140, 230, 240);
    color: rgb(11, 13, 12);
    padding: 50px 20px;
}
.biografia .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.biografia h2{
    font-size: 48px;
    font-family: "righteous";
    text-align: center;
    padding: 20px 0;
}
.biografia .fila{
    display: flex;
}

/* seccion contacto */
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: rgb(243, 171, 84);
    color: beige;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(165, 91, 161);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: rgb(9, 10, 10);
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: aqua;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: rgb(201, 79, 99);
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: rgb(213, 240, 92);
    display: inline-block;
    margin-right: 20px;

}


